<?xml version="1.0"?>
<config>
    <modules>
        <Apptha_Fsocial>
            <version>0.1.0</version>
        </Apptha_Fsocial>
    </modules>
    <frontend>
        <routers>
            <fsocial>
                <use>standard</use>
                <args>
                    <module>Apptha_Fsocial</module>
                    <frontName>fsocial</frontName>
                </args>
            </fsocial>
        </routers>
        <layout>
            <updates>
                <fsocial>
                    <file>fsocial.xml</file>
                </fsocial>
            </updates>
        </layout>
         <translate>
            <modules>
                <apptha_Fsocial>
                    <files>
                        <default>Apptha_Fsocial.csv</default>
                    </files>
                </apptha_Fsocial>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
			<fsocial>
				<use>admin</use>
				<args>
					<module>Apptha_Fsocial</module>
					<frontName>fsocial</frontName>
				</args>
			</fsocial>
        </routers>
    </admin>
    <adminhtml>
		
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Apptha_Fsocial>
							<title>Fsocial Module</title>
							<sort_order>10</sort_order>
						</Apptha_Fsocial>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<fsocial>
					<file>fsocial.xml</file>
				</fsocial>
			</updates>
		</layout>
                <translate>
            <modules>
                <apptha_Fsocial>
                    <files>
                        <default>Apptha_Fsocial.csv</default>
                    </files>
                </apptha_Fsocial>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <fsocial>
                <class>Apptha_Fsocial_Model</class>
                <resourceModel>fsocial_mysql4</resourceModel>
            </fsocial>
            <fsocial_mysql4>
                <class>Apptha_Fsocial_Model_Mysql4</class>
                <entities>
                    <fsocial>
                        <table>fsocial</table>
                    </fsocial>
                </entities>
            </fsocial_mysql4>
        </models>
              <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <fbreferral>
                        <type>singleton</type>
                        <class>Apptha_Fsocial_Model_Observer</class>
                        <method>publishwall</method>
                  </fbreferral>
                </observers>
            </checkout_onepage_controller_success_action>
               
          
                
           
        </events>
       
        <resources>
            <fsocial_setup>
                <setup>
                    <module>Apptha_Fsocial</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fsocial_setup>
            <fsocial_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fsocial_write>
            <fsocial_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fsocial_read>
        </resources>
        <blocks>
            <fsocial>
                <class>Apptha_Fsocial_Block</class>
            </fsocial>
        </blocks>
        <helpers>
            <fsocial>
                <class>Apptha_Fsocial_Helper</class>
            </fsocial>
        </helpers>
    </global>
     <default>
    	<customer>
    		<fsocial>
    			<locale>en_US</locale>
    		</fsocial>
    	</customer>
    </default>
</config>