<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <fsocial translate="label" module="fsocial">
            <label>Apptha</label>
            <sort_order>200</sort_order>
        </fsocial>
    </tabs>
    <sections>
        <fsocial translate="label">
            <label>Facebook Social</label>
            <tab>fsocial</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label" >
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <main translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </main>
                    </fields>
                </general>
            </groups>

            <groups>
                <application translate="label">
                    <label>Application</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <apiid translate="label">
                            <label>APP ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apiid>
                        <apikey translate="label">
                            <label>APP Secret</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </apikey>
                    </fields>
                </application>
            </groups>

            <groups>
                <wallpost translate="label">
                    <comment>
                    The message will be posted on the customers Facebook wall when the customer uses facebook login and buys the products. 
                    </comment>
                    <label>Facebook Wall</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <wallmain translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </wallmain>
                        <postimage translate="label">
                            <label>Post product image</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </postimage>
                        <template translate="label">
                            <label>Customer Wall Updates</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                            Available variables
                            {item_count} - number of items purchased
                            {store_link} - link to your store
                            </comment>
                        </template>
                        <actiontemplate translate="label">
                            <label>Action Template</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>
                            Available variables
                            {item_count} - number of items purchased
                            {item_name}  - item name
                            {item_price} - item price
                            {item_link} -  link to the item purchased
                            {store_link} - link to your store
                            </comment>
                        </actiontemplate>
                        <noitem translate="label">
                            <label>Number of items to post</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>0-allitems</comment>
                        </noitem>
                    </fields>
                </wallpost>
            </groups>

            <groups>
                <like translate="label">
                    <label>Facebook Like Button</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>4</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <likemain translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </likemain>
                        <send translate="label">
                            <label>Enabled Send Button</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </send>
                        <showfaces translate="label">
                            <label>Show Faces</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Show profile picture under the like button</comment>
                        </showfaces>
                        <layoutstyle translate="label">
                            <label>Layout Style</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fsocial/layoutstyle</source_model>
                            <active>true</active>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Standard layout only show profile picture under the like button</comment>
                        </layoutstyle>
                        <verbtodisplay translate="label">
                            <label>Verb to Display</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fsocial/verb</source_model>
                            <active>true</active>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </verbtodisplay>
                        <font translate="label">
                            <label>Font</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fsocial/font</source_model>
                            <active>true</active>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </font>
                        <colorschema translate="label">
                            <label>Color Schema</label>
                            <frontend_type>select</frontend_type>
                            <source_model>fsocial/color</source_model>
                            <active>true</active>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </colorschema>

                    </fields>
                </like>
            </groups>
            <groups>
                <share translate="label">
                    <label>Facebook Share Button</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>5</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sharemain translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sharemain>
                    </fields>

                </share>
            </groups>
            <groups>
                <comments translate="label">
                    <label>Facebook Comment</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>6</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <commentsmain translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <active>true</active>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </commentsmain>
                        <productwidth translate="label">
                            <label>Width for product page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Width of the button</comment>
                        </productwidth>
                        <cmswidth translate="label">
                            <label>Width for CMS page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Width of the button</comment>
                        </cmswidth>
                        <noitem translate="label">
                            <label>Number of comments to show</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </noitem>
                    </fields>
                </comments>
            </groups>
        </fsocial>
    </sections>
</config>